RestChild.Admin.Web/Service References/FileService/FileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.granit.ru/esep" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.granit.ru/esep" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.granit.ru/esep/Imports">
      <xsd:import schemaLocation="http://esep.itopcase.ru/Esep-Services/FileService.svc?xsd=xsd0" namespace="http://schemas.granit.ru/esep" />
      <xsd:import schemaLocation="http://esep.itopcase.ru/Esep-Services/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://esep.itopcase.ru/Esep-Services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" />
      <xsd:import schemaLocation="http://esep.itopcase.ru/Esep-Services/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFileEx_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileEx" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFileEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileExResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadV6Package_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadV6Package" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadV6Package_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadV6PackageResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_DownloadFileEx_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileEx" />
  </wsdl:message>
  <wsdl:message name="IFileService_DownloadFileEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileExResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_CountImages_InputMessage">
    <wsdl:part name="parameters" element="tns:CountImages" />
  </wsdl:message>
  <wsdl:message name="IFileService_CountImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDescription" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadFile" message="tns:IFileService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadFileResponse" message="tns:IFileService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileEx">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadFileEx" message="tns:IFileService_UploadFileEx_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadFileExResponse" message="tns:IFileService_UploadFileEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadV6Package">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadV6Package" message="tns:IFileService_UploadV6Package_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/UploadV6PackageResponse" message="tns:IFileService_UploadV6Package_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/DownloadFile" message="tns:IFileService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/DownloadFileResponse" message="tns:IFileService_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileEx">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/DownloadFileEx" message="tns:IFileService_DownloadFileEx_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/DownloadFileExResponse" message="tns:IFileService_DownloadFileEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountImages">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/CountImages" message="tns:IFileService_CountImages_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/CountImagesResponse" message="tns:IFileService_CountImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/GetImage" message="tns:IFileService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/GetImageResponse" message="tns:IFileService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileDescription">
      <wsdl:input wsaw:Action="http://schemas.granit.ru/esep/IFileService/GetFileDescription" message="tns:IFileService_GetFileDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.granit.ru/esep/IFileService/GetFileDescriptionResponse" message="tns:IFileService_GetFileDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>