RestChild.Admin.Web/Service References/FileService/FileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.granit.ru/esep" elementFormDefault="qualified" targetNamespace="http://schemas.granit.ru/esep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://esep.itopcase.ru/Esep-Services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q1:UploadFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="UploadFileResult" nillable="true" type="q2:UploadFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q3:UploadFileExRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="UploadFileExResult" nillable="true" type="q4:UploadFileExResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadV6Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q5:UploadV6PackageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadV6PackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="UploadV6PackageResult" nillable="true" type="q6:UploadV6PackageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q7:DownloadFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="DownloadFileResult" nillable="true" type="q8:DownloadFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q9:DownloadFileExRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="DownloadFileExResult" nillable="true" type="q10:DownloadFileExResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q11:GetCountImagesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="CountImagesResult" nillable="true" type="q12:GetCountImagesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q13:GetBase64StringImageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="GetImageResult" nillable="true" type="q14:GetBase64StringImageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="request" nillable="true" type="q15:GetFileDescriptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.FileService" minOccurs="0" name="GetFileDescriptionResult" nillable="true" type="q16:GetFileDescriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>