RestChild.Comon/Exchange/ERL/OivPrivilegeService_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:tns="http://erl.msr.com/schemas/privilege/oiv/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://erl.msr.com/schemas/privilege/oiv/v1" version="1.0">
    <xs:element name="getPrivilegeRequest" type="tns:GetPrivilegeRequest"/>
    <xs:element name="getPrivilegeResponse" type="tns:GetPrivilegeResponse" nillable="true"/>
    <xs:element name="simpleFault" type="tns:ServiceException"/>
    <xs:complexType name="citizen_benefitcategory">
        <xs:annotation>
            <xs:documentation>Льготная категория</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="benefitcategory_pk" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код льготной категории в справочнике</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="begin_date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата начала действия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="end_date" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата окончания действия</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="GetPrivilegeRequest">
        <xs:annotation>
            <xs:documentation>Запрос ОИВ и подведомственными организациями ЛК при назначении и/или предоставлении МСП
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sender" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код отправителя запроса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="citizenRequest" type="tns:CitizenPrivilegeRequest" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetPrivilegeResponse">
        <xs:annotation>
            <xs:documentation>Ответ на запрос ОИВ и подведомственными организациями ЛК при назначении и/или
                предоставлении МСП
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="citizenResponse" type="tns:CitizenPrivilegeResponse" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CitizenPrivilegeResponse">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор запроса по человеку, служит для связки запроса и ответа.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:PrivilegeResponseCitizenGroup" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="PrivilegeResponseCitizenGroup">
        <xs:annotation>
            <xs:documentation>Данные ответа на запрос ОИВ и подведомственными организациями ЛК при назначении и/или
                предоставлении МСП
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="citizen_pk" type="tns:UUID">
                <xs:annotation>
                    <xs:documentation>Идентификатор человека в ЕРЛ (GUID)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="citizen_benefitcategories" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Льготные категории</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="citizen_benefitcategory" type="tns:citizen_benefitcategory"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Льготная категория</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="Name">
        <xs:annotation>
            <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="surname" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="firstname" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="patronymic" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CitizenPrivilegeRequest">
        <xs:annotation>
            <xs:documentation>Запрос ОИВ и подведомственными организациями ЛК при назначении и/или предоставлении МСП
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор запроса по человеку, служит для связки запроса и ответа. Должен быть
                        уникальным в пределах запроса к сервису
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:PrivilegeRequestPersonDataGroup"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="PrivilegeRequestPersonDataGroup">
        <xs:annotation>
            <xs:documentation>Данные запроса ОИВ и подведомственными организациями ЛК при назначении и/или
                предоставлении МСП
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="citizen" type="tns:RequestPerson"/>
                <xs:element name="citizen_pk" type="tns:UUID">
                    <xs:annotation>
                        <xs:documentation>Идентификатор человека в ЕРЛ (GUID)</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element name="benefittype_pk" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код МСП в справочнике</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="benefitcategory_pk" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код ЛК в справочнике</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="RequestIdentityDocument">
        <xs:annotation>
            <xs:documentation>Данные документа, удостоверяющего личность</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="doctype_pk" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ИД типа документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serial" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Серия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestPerson">
        <xs:sequence>
            <xs:group ref="tns:RequestPersonInfo"/>
            <xs:choice>
                <xs:element name="identity_document" type="tns:RequestIdentityDocument"/>
                <xs:element name="snils" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>СНИЛС</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="oms" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Полис обязательного медицинского страхования</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceException">
        <xs:sequence>
            <xs:element name="code" type="xs:int"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUID">
        <xs:annotation>
            <xs:documentation>Представление GUID в string</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="RequestPersonInfo">
        <xs:annotation>
            <xs:documentation>Персональные данные</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="tns:Name"/>
            <xs:element name="birthday" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
</xs:schema>
