RestChild.ERL/Connected Services/ERLService/OwsmImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://erl.msr.com/schemas/privilege/oiv/v1" targetNamespace="http://erl.msr.com/schemas/privilege/oiv/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPrivilegeRequest" type="tns:GetPrivilegeRequest" />
  <xs:element name="getPrivilegeResponse" nillable="true" type="tns:GetPrivilegeResponse" />
  <xs:element name="simpleFault" type="tns:ServiceException" />
  <xs:complexType name="address">
    <xs:annotation>
      <xs:documentation>??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="bti_identity" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="post_index" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="settlement_code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???????? ?????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="street_code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="street_name" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="house_code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="house" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="corpus" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="building" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="flat" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citizen_address">
    <xs:annotation>
      <xs:documentation xml:lang="RU">?????????? ???????????????????? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="address_type">
        <xs:annotation>
          <xs:documentation xml:lang="RU">?????? ???????? ????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation xml:lang="RU">?????????? ?????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation xml:lang="RU">?????????? ?????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation xml:lang="RU">?????????? ???????????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="tns:address">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address_text" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="registration_date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute ref="tns:actualize_date" />
  </xs:complexType>
  <xs:attribute name="actualize_date" type="xs:date">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????? ???????????????????????? ????????????????</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:complexType name="citizen_benefitcategory">
    <xs:annotation>
      <xs:documentation>???????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="benefitcategory_pk" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???????????????? ?????????????????? ?? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="begin_date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="end_date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="GetPrivilegeRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????? ?? ?????????????????????????????????? ?????????????????????????? ???? ?????? ???????????????????? ??/?????? ???????????????????????????? ??????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sender" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="20" name="citizenRequest" type="tns:CitizenPrivilegeRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPrivilegeResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ?????? ?? ?????????????????????????????????? ?????????????????????????? ???? ?????? ???????????????????? ??/??????
                ???????????????????????????? ??????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="20" name="citizenResponse" type="tns:CitizenPrivilegeResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CitizenPrivilegeResponse">
    <xs:sequence>
      <xs:element name="requestId" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????? ???? ????????????????, ???????????? ?????? ???????????? ?????????????? ?? ????????????.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group minOccurs="0" ref="tns:PrivilegeResponseCitizenGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="PrivilegeResponseCitizenGroup">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ???? ???????????? ?????? ?? ?????????????????????????????????? ?????????????????????????? ???? ?????? ???????????????????? ??/??????
                ???????????????????????????? ??????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="citizen_pk" type="tns:UUID">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???????????????? ?? ?????? (GUID)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="citizen_addresses">
        <xs:annotation>
          <xs:documentation>???????????? ?????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="citizen_address" type="tns:citizen_address">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="citizen_benefitcategories">
        <xs:annotation>
          <xs:documentation>???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="citizen_benefitcategory" type="tns:citizen_benefitcategory">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="Name">
    <xs:annotation>
      <xs:documentation>??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstname" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="patronymic" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CitizenPrivilegeRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????? ?? ?????????????????????????????????? ?????????????????????????? ???? ?????? ???????????????????? ??/?????? ???????????????????????????? ??????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="requestId" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????? ???? ????????????????, ???????????? ?????? ???????????? ?????????????? ?? ????????????. ???????????? ????????
                        ???????????????????? ?? ???????????????? ?????????????? ?? ??????????????
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group ref="tns:PrivilegeRequestPersonDataGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="PrivilegeRequestPersonDataGroup">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????? ?? ?????????????????????????????????? ?????????????????????????? ???? ?????? ???????????????????? ??/??????
                ???????????????????????????? ??????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="citizen" type="tns:RequestPerson" />
        <xs:element name="citizen_pk" type="tns:UUID">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ???????????????? ?? ?????? (GUID)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:choice>
        <xs:element name="benefittype_pk" type="xs:string">
          <xs:annotation>
            <xs:documentation>?????? ?????? ?? ??????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="benefitcategory_pk" type="xs:string">
          <xs:annotation>
            <xs:documentation>?????? ???? ?? ??????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="RequestIdentityDocument">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????, ?????????????????????????????? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="doctype_pk" type="xs:string">
        <xs:annotation>
          <xs:documentation>???? ???????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="serial" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestPerson">
    <xs:sequence>
      <xs:group ref="tns:RequestPersonInfo" />
      <xs:choice>
        <xs:element name="identity_document" type="tns:RequestIdentityDocument" />
        <xs:element name="snils" type="xs:string">
          <xs:annotation>
            <xs:documentation>??????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="oms" type="xs:string">
          <xs:annotation>
            <xs:documentation>?????????? ?????????????????????????? ???????????????????????? ??????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element name="code" type="xs:int" />
      <xs:element name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UUID">
    <xs:annotation>
      <xs:documentation>?????????????????????????? GUID ?? string</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="RequestPersonInfo">
    <xs:annotation>
      <xs:documentation>???????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="tns:Name" />
      <xs:element name="birthday" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>