RestChild.Admin.Web/Service References/EsepService/EsepService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.granit.ru/esep" elementFormDefault="qualified" targetNamespace="http://schemas.granit.ru/esep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://esep.itopcase.ru/Esep-Services/EsepService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" />
  <xs:element name="CreateUIToSing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q1:CreateUIToSingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToSingResult" nillable="true" type="q2:CreateUIToSingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSingEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q3:CreateUIToSingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSingExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToSingExResult" nillable="true" type="q4:CreateUIToSingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSignDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q5:CreateUIToSignDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSignDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToSignDocumentResult" nillable="true" type="q6:CreateUIToSignDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSignForSmev">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q7:CreateUIToSignForSmevRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToSignForSmevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToSignForSmevResult" nillable="true" type="q8:CreateUIToSignForSmevResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSignMobilePhaseOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q9:CreateSignMobilePhaseOneRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSignMobilePhaseOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateSignMobilePhaseOneResult" nillable="true" type="q10:CreateSignMobilePhaseOneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSignMobilePhaseTwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q11:CreateSignMobilePhaseTwoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSignMobilePhaseTwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateSignMobilePhaseTwoResult" nillable="true" type="q12:CreateSignMobilePhaseTwoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q13:SignFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="SignFileResult" nillable="true" type="q14:SignFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureExistenceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q15:GetSignatureExistenceInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureExistenceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetSignatureExistenceInfoResult" nillable="true" type="q16:GetSignatureExistenceInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSignatureInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q17:GetFileSignatureInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSignatureInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetFileSignatureInfoResult" nillable="true" type="q18:GetFileSignatureInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSignatureInfoWithRul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q19:GetFileSignatureInfoWithRulRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSignatureInfoWithRulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetFileSignatureInfoWithRulResult" nillable="true" type="q20:GetFileSignatureInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileCertificatesUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q21:GetFileCertificatesUserInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileCertificatesUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetFileCertificatesUserInfoResult" nillable="true" type="q22:GetFileCertificatesUserInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToShowDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q23:CreateUIToShowDocumentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToShowDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToShowDocumentsResult" nillable="true" type="q24:CreateUIToShowDocumentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToShowSignatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q25:CreateUIToShowSignaturesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUIToShowSignaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="CreateUIToShowSignaturesResult" nillable="true" type="q26:CreateUIToShowSignaturesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q27:GetOriginalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetOriginalResult" nillable="true" type="q28:GetOriginalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q29:SignXmlRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="SignXmlResult" nillable="true" type="q30:SignXmlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerSignSmev">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q31:SignXmlRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerSignSmevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="ServerSignSmevResult" nillable="true" type="q32:SignXmlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerSignSmevEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q33:SignXmlExRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerSignSmevExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="ServerSignSmevExResult" nillable="true" type="q34:SignXmlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q35:GetCertificateInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetCertificateInfoResult" nillable="true" type="q36:GetCertificateInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q37:GetOperationInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetOperationInfoResult" nillable="true" type="q38:GetOperationInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q39:GetOperationStateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="GetOperationStateResult" nillable="true" type="q40:GetOperationStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignatureTimestamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="request" nillable="true" type="q41:AddSignatureTimestampRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignatureTimestampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Granit.Esep.Ppnp.WebServices.Contracts.EsepService" minOccurs="0" name="AddSignatureTimestampResult" nillable="true" type="q42:AddSignatureTimestampResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>