RestChild.Booking.Logic/Service References/WcfSearchService/RestChild.Comon.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestChild.Comon.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="searchToursParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdultCount" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildBirthDates" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ChildCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeNoTrasport" type="xs:boolean" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="PerPage" type="xs:int" />
      <xs:element minOccurs="0" name="PriceFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PriceTo" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Programs" nillable="true" type="q2:ArrayOflong" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Regions" nillable="true" type="q3:ArrayOflong" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="searchToursParams" nillable="true" type="tns:searchToursParams" />
</xs:schema>