RestChild.Booking.Logic/Service References/WcfSearchService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Services" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Dto.Commercial" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SearchTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestChild.Comon.Services" minOccurs="0" name="parameter" nillable="true" type="q1:searchToursParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestChild.Comon.Dto.Commercial" minOccurs="0" name="SearchToursResult" nillable="true" type="q2:ArrayOftour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tourIds" nillable="true" type="q3:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateToursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tourId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>