RestChild.Booking.Logic/Service References/WcfSearchService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TourSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITourSearchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Services" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Dto.Commercial" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Dto.Commercial.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITourSearchService_SearchTours_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTours" />
  </wsdl:message>
  <wsdl:message name="ITourSearchService_SearchTours_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchToursResponse" />
  </wsdl:message>
  <wsdl:message name="ITourSearchService_AddOrUpdateTours_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateTours" />
  </wsdl:message>
  <wsdl:message name="ITourSearchService_AddOrUpdateTours_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateToursResponse" />
  </wsdl:message>
  <wsdl:message name="ITourSearchService_AddOrUpdateTour_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateTour" />
  </wsdl:message>
  <wsdl:message name="ITourSearchService_AddOrUpdateTour_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateTourResponse" />
  </wsdl:message>
  <wsdl:portType name="ITourSearchService">
    <wsdl:operation name="SearchTours">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourSearchService/SearchTours" message="tns:ITourSearchService_SearchTours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourSearchService/SearchToursResponse" message="tns:ITourSearchService_SearchTours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTours">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourSearchService/AddOrUpdateTours" message="tns:ITourSearchService_AddOrUpdateTours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourSearchService/AddOrUpdateToursResponse" message="tns:ITourSearchService_AddOrUpdateTours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTour">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourSearchService/AddOrUpdateTour" message="tns:ITourSearchService_AddOrUpdateTour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourSearchService/AddOrUpdateTourResponse" message="tns:ITourSearchService_AddOrUpdateTour_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITourSearchService" type="tns:ITourSearchService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITourSearchService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SearchTours">
      <soap12:operation soapAction="http://tempuri.org/ITourSearchService/SearchTours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTours">
      <soap12:operation soapAction="http://tempuri.org/ITourSearchService/AddOrUpdateTours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateTour">
      <soap12:operation soapAction="http://tempuri.org/ITourSearchService/AddOrUpdateTour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TourSearchService">
    <wsdl:port name="NetTcpBinding_ITourSearchService" binding="tns:NetTcpBinding_ITourSearchService">
      <soap12:address location="net.tcp://localhost:7778/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7778/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>