RestChild.Comon/Service References/NSIDogm/nsi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:nsi="http://rstyle.com/nsi/beans" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rstyle.com/nsi/beans" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="context" type="nsi:Context">
    <xs:annotation>
      <xs:documentation>???????????????? ?????? ?????????????????????? ?? MDM server f??r PIM
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Context">
    <xs:sequence>
      <xs:element name="User" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Password" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Company" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="error" type="nsi:NSIError">
    <xs:annotation>
      <xs:documentation>????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NSIError">
    <xs:sequence>
      <xs:element name="code" type="nsi:Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Code">
    <xs:annotation>
      <xs:documentation>
                ?????? ????????????
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????? ?????????????????? ??????????????
                    </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>???? ?????????????? ?????????????????????????? ????????????
                    </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????????? ???? ????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????????? ?????? ???? ??????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>