RestChild.Comon/Service References/NSIDogm/smev.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:smev="http://smev.gosuslugi.ru/rev110801" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev110801" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="include.xsd" namespace="http://www.w3.org/2004/08/xop/include" />
  <xs:element name="Header" type="smev:HeaderType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BaseMessage" type="smev:BaseMessageType">
    <xs:annotation>
      <xs:documentation>?????????????? ??????, ?????????????????????? ?????????????????? ?? ??????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Message" type="smev:MessageType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????? ?????????????????? ????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppData" type="smev:AppDataType">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????????????????????? ????????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppDocument" type="smev:AppDocumentType">
    <xs:annotation>
      <xs:documentation>???????? ????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sender" type="smev:orgExternalType">
    <xs:annotation>
      <xs:documentation>???????????? ?? ??????????????-???????????????? ????????????????????????????
                (??????????????????????) (???????????????????????? ???????? ???? ???????????????????????? ??????????????????????)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Recipient" type="smev:orgExternalType">
    <xs:annotation>
      <xs:documentation>???????????? ?? ??????????????-???????????????????? ??????????????????
                (????????????????????)
                (???????????????????????? ???????? ???????????? ??????????????????????)
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Originator" type="smev:orgExternalType">
    <xs:annotation>
      <xs:documentation>???????????? ?? ??????????????, ?????????????????????????????? ?????????????? ????
                ???????????????????? ????????????????-??????????????, ???????????????????????? ???????????? ?????????????????? ??
                ????????????
                ????????????????????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TypeCode" type="smev:TypeCodeType">
    <xs:annotation>
      <xs:documentation>?????? ??????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>???????? ???????????????? ??????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestIdRef" type="smev:idType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ??????????????????-??????????????, ??????????????????????????????
                ????????????????????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginRequestIdRef" type="smev:idType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ??????????????????-??????????????, ??????????????????????????????
                ?????????????? ???? ???????????????????? ????????????????-??????????????, ???????????????????????? ????????????
                ?????????????????? ?? ???????????? ????????????????????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>?????? ????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>?????????? ???????????? ?? ???????????????????????????? ??????????????-??????????????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageId" type="smev:idType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TimeStamp" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????? ?????????????????? ?????????????? ????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NodeId" type="xs:string">
    <xs:annotation>
      <xs:documentation>???????????????????? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageClass" type="smev:MessageClassType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ???????????? ??????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status" type="smev:StatusType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExchangeType" type="xs:string">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BinaryData" type="xs:base64Binary">
    <xs:annotation>
      <xs:documentation>?????????????? ????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference" type="smev:ReferenceType">
    <xs:annotation>
      <xs:documentation>???????????? ???? ????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DigestValue" type="xs:base64Binary">
    <xs:annotation>
      <xs:documentation>??????-?????? ????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TestMsg" type="xs:string">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ?????????????????? ??????????????
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>?????? ??????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element ref="smev:NodeId" />
      <xs:element ref="smev:MessageId" />
      <xs:element ref="smev:TimeStamp" />
      <xs:element ref="smev:MessageClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseMessageType">
    <xs:sequence>
      <xs:element ref="smev:Message" />
      <xs:element name="MessageData" type="smev:MessageDataType">
        <xs:annotation>
          <xs:documentation>????????-?????????????? ???????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="smev:Sender" />
      <xs:element ref="smev:Recipient" />
      <xs:element ref="smev:Originator" />
      <xs:element ref="smev:TypeCode" />
      <xs:element ref="smev:Status" />
      <xs:element ref="smev:Date" />
      <xs:element ref="smev:ExchangeType" />
      <xs:element minOccurs="0" ref="smev:RequestIdRef" />
      <xs:element minOccurs="0" ref="smev:OriginRequestIdRef" />
      <xs:element minOccurs="0" ref="smev:ServiceCode" />
      <xs:element minOccurs="0" ref="smev:CaseNumber" />
      <xs:element minOccurs="0" ref="smev:TestMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageDataType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="smev:AppData" />
      <xs:element minOccurs="0" ref="smev:AppDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppDataType" />
  <xs:complexType name="AppDocumentType">
    <xs:sequence>
      <xs:element ref="smev:RequestCode" />
      <xs:choice>
        <xs:element ref="smev:BinaryData" />
        <xs:sequence>
          <xs:element ref="smev:Reference" />
          <xs:element ref="smev:DigestValue" />
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceType" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" ref="xop:Include" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orgExternalType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ???????????????????????????? ??????????????
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TypeCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GSRV">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ?? ???????????? ????????????????
                        ??????????????????????????????
                        ??????????
                    </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GFNC">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ?? ???????????? ????????????????????
                    </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REQUEST">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????????????????????? ?? ????????????????????
                    </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RESPONSE">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REQUEST">
        <xs:annotation>
          <xs:documentation>????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RESULT">
        <xs:annotation>
          <xs:documentation>??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REJECT">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INVALID">
        <xs:annotation>
          <xs:documentation>???????????? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACCEPT">
        <xs:annotation>
          <xs:documentation>??????????????????-???????????? ?? ????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PING">
        <xs:annotation>
          <xs:documentation>???????????? ????????????/??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PROCESS">
        <xs:annotation>
          <xs:documentation>?? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOTIFY">
        <xs:annotation>
          <xs:documentation>?????????????????????? ???? ????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAILURE">
        <xs:annotation>
          <xs:documentation>?????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CANCEL">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="STATE">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>