RestChild.Admin.Web/Service References/CshedService/CustomWebService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://cloud.mos.ru/customWebService2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CustomWebService2" targetNamespace="http://cloud.mos.ru/customWebService2/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomWebServiceImplPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CustomWebService2_schema1.xsd" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="CustomWebService2_schema2.xsd" namespace="http://cloud.mos.ru/customWebService2/" />
    </xsd:schema>
  </types>
  <message name="CreateAnnotation">
    <part name="CreateAnnotation" element="tns:CreateAnnotation" />
  </message>
  <message name="UpdateDocumentVersionResponse">
    <part name="UpdatedId" element="tns:UpdatedId" />
  </message>
  <message name="SetDocumentPermissions">
    <part name="SetDocumentPermissions" element="tns:SetDocumentPermissions" />
  </message>
  <message name="RetrieveAnnotation">
    <part name="RetrieveAnnotation" element="tns:RetrieveAnnotation" />
  </message>
  <message name="FolderDocumentResponse">
    <part name="FolderDocumentResponse" element="tns:FolderDocumentResponse" />
  </message>
  <message name="RetrieveAnnotationsResponse">
    <part name="AnnotationIds" element="tns:AnnotationIds" />
  </message>
  <message name="GetFoldersOfDocumentResponse">
    <part name="FoldersOfDocument" element="tns:FoldersOfDocument" />
  </message>
  <message name="GetCustomId">
    <part name="GetCustomId" element="tns:GetCustomId" />
  </message>
  <message name="DeleteDocuments">
    <part name="DeleteDocuments" element="tns:DeleteDocuments" />
  </message>
  <message name="GetFoldersInFolder">
    <part name="GetFoldersInFolder" element="tns:GetFoldersInFolder" />
  </message>
  <message name="GetParentFolder">
    <part name="GetParentFolder" element="tns:GetParentFolder" />
  </message>
  <message name="moveDocument">
    <part name="moveDocument" element="tns:moveDocument" />
  </message>
  <message name="GetDocumentPermissionsResponse">
    <part name="PermissionsOfDocument" element="tns:PermissionsOfDocument" />
  </message>
  <message name="GetFileNetIdResponse">
    <part name="FileNetId" element="tns:FileNetId" />
  </message>
  <message name="RetrieveAnnotations">
    <part name="RetrieveAnnotations" element="tns:RetrieveAnnotations" />
  </message>
  <message name="RetrieveDocAndAnnotations">
    <part name="RetrieveDocAndAnnotations" element="tns:RetrieveDocAndAnnotations" />
  </message>
  <message name="SearchDocuments">
    <part name="SearchDocuments" element="tns:SearchDocuments" />
  </message>
  <message name="GetDocumentPropertiesResponse">
    <part name="GetDocumentPropertiesResponse" element="tns:GetDocumentPropertiesResponse" />
  </message>
  <message name="FolderDocument">
    <part name="FolderDocument" element="tns:FolderDocument" />
  </message>
  <message name="SetFolderPermissionsResponse">
    <part name="SetFolderPermissionsResponse" element="tns:SetFolderPermissionsResponse" />
  </message>
  <message name="GetFolderPermissions">
    <part name="GetFolderPermissions" element="tns:GetFolderPermissions" />
  </message>
  <message name="ValidateDocumentResponse">
    <part name="ValidateDocumentStatuses" element="tns:ValidateDocumentStatuses" />
  </message>
  <message name="GetDocumentDataResponse">
    <part name="DocumentData" element="tns:DocumentData" />
  </message>
  <message name="UpdateDocumentVersion">
    <part name="UpdateDocumentVersion" element="tns:UpdateDocumentVersion" />
  </message>
  <message name="GetFoldersOfDocument">
    <part name="GetFoldersOfDocument" element="tns:GetFoldersOfDocument" />
  </message>
  <message name="RetrieveAnnotationResponse">
    <part name="Annotation" element="tns:Annotation" />
  </message>
  <message name="DeleteAnnotation">
    <part name="DeleteAnnotation" element="tns:DeleteAnnotation" />
  </message>
  <message name="GetDocumentsInFolderResponse">
    <part name="DocumentsInFolder" element="tns:DocumentsInFolder" />
  </message>
  <message name="DeleteAnnotationResponse">
    <part name="DeleteAnnotationResult" element="tns:DeleteAnnotationResult" />
  </message>
  <message name="GetParentFolderResponse">
    <part name="ParentFolder" element="tns:ParentFolder" />
  </message>
  <message name="GetDocumentPermissions">
    <part name="GetDocumentPermissions" element="tns:GetDocumentPermissions" />
  </message>
  <message name="UpdateDocumentPropertiesResponse">
    <part name="UpdateDocumentPropertiesResponse" element="tns:UpdateDocumentPropertiesResponse" />
  </message>
  <message name="GetDocument">
    <part name="GetDocument" element="tns:GetDocument" />
  </message>
  <message name="CreateAnnotationResponse">
    <part name="AnnotationId" element="tns:AnnotationId" />
  </message>
  <message name="DeleteDocumentVersionResponse">
    <part name="DeleteDocumentVersionResponse" element="tns:DeleteDocumentVersionResponse" />
  </message>
  <message name="GetFolderPermissionsResponse">
    <part name="PermissionsOfFolder" element="tns:PermissionsOfFolder" />
  </message>
  <message name="GetDocumentResponse">
    <part name="GetDocumentResponse" element="tns:GetDocumentResponse" />
  </message>
  <message name="GetSignedDocumentData">
    <part name="GetSignedDocumentData" element="tns:GetSignedDocumentData" />
  </message>
  <message name="GetFileNetId">
    <part name="GetFileNetId" element="tns:GetFileNetId" />
  </message>
  <message name="CreateFolder">
    <part name="CreateFolder" element="tns:CreateFolder" />
  </message>
  <message name="CopyDocumentResponse">
    <part name="FileNetId" element="tns:FileNetId" />
  </message>
  <message name="SetFolderPermissions">
    <part name="SetFolderPermissions" element="tns:SetFolderPermissions" />
  </message>
  <message name="ErrorMessageException">
    <part name="fault" element="tns:ErrorMessageException" />
  </message>
  <message name="SetDocumentPermissionsResponse">
    <part name="SetDocumentPermissionsResponse" element="tns:SetDocumentPermissionsResponse" />
  </message>
  <message name="GetFoldersInFolderResponse">
    <part name="FoldersInFolder" element="tns:FoldersInFolder" />
  </message>
  <message name="ValidateDocument">
    <part name="ValidateDocument" element="tns:ValidateDocument" />
  </message>
  <message name="SearchDocumentsResponse">
    <part name="CustomIDs" element="tns:CustomIDs" />
  </message>
  <message name="CreateFolderResponse">
    <part name="FolderPath" element="tns:FolderPath" />
  </message>
  <message name="GetSignedDocumentDataResponse">
    <part name="SignedDocumentData" element="tns:SignedDocumentData" />
  </message>
  <message name="RetrieveDocAndAnnotationsResponse">
    <part name="RetrieveDocAndAnnotationsResponse" element="tns:RetrieveDocAndAnnotationsResponse" />
  </message>
  <message name="UpdateDocumentProperties">
    <part name="UpdateDocumentProperties" element="tns:UpdateDocumentProperties" />
  </message>
  <message name="GetCustomIdResponse">
    <part name="CustomId" element="tns:CustomId" />
  </message>
  <message name="CopyDocument">
    <part name="CopyDocument" element="tns:CopyDocument" />
  </message>
  <message name="GetDocumentProperties">
    <part name="GetDocumentProperties" element="tns:GetDocumentProperties" />
  </message>
  <message name="GetDocumentsInFolder">
    <part name="GetDocumentsInFolder" element="tns:GetDocumentsInFolder" />
  </message>
  <message name="DeleteDocumentsResponse">
    <part name="NumOfDeleted" element="tns:NumOfDeleted" />
  </message>
  <message name="moveDocumentResponse">
    <part name="movedCustomId" element="tns:movedCustomId" />
  </message>
  <message name="ValidateDocumentWithInfo">
    <part name="ValidateDocumentWithInfo" element="tns:ValidateDocumentWithInfo" />
  </message>
  <message name="ValidateDocumentWithInfoResponse">
    <part name="ValidateDocumentWithInfoResponse" element="tns:ValidateDocumentWithInfoResponse" />
  </message>
  <message name="CreateDocument">
    <part name="CreateDocument" element="tns:CreateDocument" />
  </message>
  <message name="DeleteDocumentVersion">
    <part name="DeleteDocumentVersion" element="tns:DeleteDocumentVersion" />
  </message>
  <message name="GetDocumentData">
    <part name="GetDocumentData" element="tns:GetDocumentData" />
  </message>
  <message name="CreateDocumentResponse">
    <part name="CustomID" element="tns:CustomID" />
  </message>
  <portType name="CustomWebServiceImpl">
    <operation name="CreateDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateDocumentRequest" message="tns:CreateDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateDocumentResponse" message="tns:CreateDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="UpdateDocumentVersion">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentVersionRequest" message="tns:UpdateDocumentVersion" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentVersionResponse" message="tns:UpdateDocumentVersionResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentVersion/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentRequest" message="tns:GetDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentResponse" message="tns:GetDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetDocumentData">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentDataRequest" message="tns:GetDocumentData" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentDataResponse" message="tns:GetDocumentDataResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentData/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetSignedDocumentData">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetSignedDocumentDataRequest" message="tns:GetSignedDocumentData" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetSignedDocumentDataResponse" message="tns:GetSignedDocumentDataResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetSignedDocumentData/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetDocumentProperties">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentPropertiesRequest" message="tns:GetDocumentProperties" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentPropertiesResponse" message="tns:GetDocumentPropertiesResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentProperties/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="SearchDocuments">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SearchDocumentsRequest" message="tns:SearchDocuments" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SearchDocumentsResponse" message="tns:SearchDocumentsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SearchDocuments/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="DeleteDocuments">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocumentsRequest" message="tns:DeleteDocuments" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocumentsResponse" message="tns:DeleteDocumentsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocuments/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="CreateFolder">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateFolderRequest" message="tns:CreateFolder" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateFolderResponse" message="tns:CreateFolderResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateFolder/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetDocumentsInFolder">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentsInFolderRequest" message="tns:GetDocumentsInFolder" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentsInFolderResponse" message="tns:GetDocumentsInFolderResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentsInFolder/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetFoldersInFolder">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersInFolderRequest" message="tns:GetFoldersInFolder" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersInFolderResponse" message="tns:GetFoldersInFolderResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersInFolder/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetParentFolder">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetParentFolderRequest" message="tns:GetParentFolder" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetParentFolderResponse" message="tns:GetParentFolderResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetParentFolder/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="DeleteDocumentVersion">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocumentVersionRequest" message="tns:DeleteDocumentVersion" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocumentVersionResponse" message="tns:DeleteDocumentVersionResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteDocumentVersion/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="UpdateDocumentProperties">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentPropertiesRequest" message="tns:UpdateDocumentProperties" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentPropertiesResponse" message="tns:UpdateDocumentPropertiesResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/UpdateDocumentProperties/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="FolderDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/FolderDocumentRequest" message="tns:FolderDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/FolderDocumentResponse" message="tns:FolderDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/FolderDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetFoldersOfDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersOfDocumentRequest" message="tns:GetFoldersOfDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersOfDocumentResponse" message="tns:GetFoldersOfDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFoldersOfDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="SetDocumentPermissions">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetDocumentPermissionsRequest" message="tns:SetDocumentPermissions" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetDocumentPermissionsResponse" message="tns:SetDocumentPermissionsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetDocumentPermissions/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="SetFolderPermissions">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetFolderPermissionsRequest" message="tns:SetFolderPermissions" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetFolderPermissionsResponse" message="tns:SetFolderPermissionsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/SetFolderPermissions/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetDocumentPermissions">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentPermissionsRequest" message="tns:GetDocumentPermissions" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentPermissionsResponse" message="tns:GetDocumentPermissionsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetDocumentPermissions/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetFolderPermissions">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFolderPermissionsRequest" message="tns:GetFolderPermissions" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFolderPermissionsResponse" message="tns:GetFolderPermissionsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFolderPermissions/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="CreateAnnotation">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateAnnotationRequest" message="tns:CreateAnnotation" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateAnnotationResponse" message="tns:CreateAnnotationResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CreateAnnotation/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="RetrieveAnnotations">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotationsRequest" message="tns:RetrieveAnnotations" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotationsResponse" message="tns:RetrieveAnnotationsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotations/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="RetrieveAnnotation">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotationRequest" message="tns:RetrieveAnnotation" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotationResponse" message="tns:RetrieveAnnotationResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveAnnotation/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="DeleteAnnotation">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteAnnotationRequest" message="tns:DeleteAnnotation" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteAnnotationResponse" message="tns:DeleteAnnotationResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/DeleteAnnotation/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="RetrieveDocAndAnnotations">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveDocAndAnnotationsRequest" message="tns:RetrieveDocAndAnnotations" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveDocAndAnnotationsResponse" message="tns:RetrieveDocAndAnnotationsResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/RetrieveDocAndAnnotations/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="ValidateDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocumentRequest" message="tns:ValidateDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocumentResponse" message="tns:ValidateDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="ValidateDocumentWithInfo">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocumentWithInfoRequest" message="tns:ValidateDocumentWithInfo" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocumentWithInfoResponse" message="tns:ValidateDocumentWithInfoResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/ValidateDocumentWithInfo/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetFileNetId">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFileNetIdRequest" message="tns:GetFileNetId" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFileNetIdResponse" message="tns:GetFileNetIdResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetFileNetId/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="GetCustomId">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetCustomIdRequest" message="tns:GetCustomId" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetCustomIdResponse" message="tns:GetCustomIdResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/GetCustomId/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="CopyDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CopyDocumentRequest" message="tns:CopyDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CopyDocumentResponse" message="tns:CopyDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/CopyDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
    <operation name="moveDocument">
      <input wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/moveDocumentRequest" message="tns:moveDocument" />
      <output wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/moveDocumentResponse" message="tns:moveDocumentResponse" />
      <fault wsam:Action="http://cloud.mos.ru/customWebService2/CustomWebServiceImpl/moveDocument/Fault/ErrorMessageException" name="ErrorMessageException" message="tns:ErrorMessageException" />
    </operation>
  </portType>
  <binding name="CustomWebServiceImplPortBinding" type="tns:CustomWebServiceImpl">
    <wsp:PolicyReference URI="#CustomWebServiceImplPortBinding_MTOM_Policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="UpdateDocumentVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetDocumentData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetSignedDocumentData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetDocumentProperties">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="SearchDocuments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="DeleteDocuments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="CreateFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetDocumentsInFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetFoldersInFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetParentFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="DeleteDocumentVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="UpdateDocumentProperties">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="FolderDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetFoldersOfDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="SetDocumentPermissions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="SetFolderPermissions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetDocumentPermissions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetFolderPermissions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="CreateAnnotation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="RetrieveAnnotations">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="RetrieveAnnotation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="DeleteAnnotation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="RetrieveDocAndAnnotations">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="ValidateDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="ValidateDocumentWithInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetFileNetId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="GetCustomId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="CopyDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
    <operation name="moveDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ErrorMessageException">
        <soap:fault use="literal" name="ErrorMessageException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CustomWebService2">
    <port name="CustomWebServiceImplPort" binding="tns:CustomWebServiceImplPortBinding">
      <soap:address location="http://94.79.51.60:80/custom-api-2.0/CustomWebService2" />
    </port>
  </service>
</definitions>