RestChild.ConsolePrjects/Connected Services/BookingForCall/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://aisdo.itopcase.ru/Booking" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aisdo.itopcase.ru/Booking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aisdo.itopcase.ru/Booking/Imports">
      <xsd:import schemaLocation="http://172.16.240.1:7777/?xsd=xsd0" namespace="http://aisdo.itopcase.ru/Booking" />
      <xsd:import schemaLocation="http://172.16.240.1:7777/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.240.1:7777/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestChild.Comon.Dto.Booking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_GetHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_VariationPlacement_InputMessage">
    <wsdl:part name="parameters" element="tns:VariationPlacement" />
  </wsdl:message>
  <wsdl:message name="IBookingService_VariationPlacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:VariationPlacementResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_MakePreBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePreBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_MakePreBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePreBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_MakeBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_MakeBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReleaseBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReleaseBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReleasePreBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleasePreBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReleasePreBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleasePreBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="GetHotels">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/GetHotels" message="tns:IBookingService_GetHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/GetHotelsResponse" message="tns:IBookingService_GetHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VariationPlacement">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/VariationPlacement" message="tns:IBookingService_VariationPlacement_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/VariationPlacementResponse" message="tns:IBookingService_VariationPlacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePreBooking">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/MakePreBooking" message="tns:IBookingService_MakePreBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/MakePreBookingResponse" message="tns:IBookingService_MakePreBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeBooking">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/MakeBooking" message="tns:IBookingService_MakeBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/MakeBookingResponse" message="tns:IBookingService_MakeBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseBooking">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/ReleaseBooking" message="tns:IBookingService_ReleaseBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/ReleaseBookingResponse" message="tns:IBookingService_ReleaseBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleasePreBooking">
      <wsdl:input wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/ReleasePreBooking" message="tns:IBookingService_ReleasePreBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://aisdo.itopcase.ru/Booking/IBookingService/ReleasePreBookingResponse" message="tns:IBookingService_ReleasePreBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>